.switcher {
    display: flex;
    width: fit-content;

    padding: 0.2rem;

    background-color: #FAFAFA;

    border: 1px solid #E6E6E6;
    border-radius: 0.7rem;
}

.button {
    padding: 0.5rem 2.4rem;
}

.active {
    background-color: #fff;

    border-radius: 0.7rem;

    box-shadow: 1px 2px 5px 2px #E6E6E6;
}